{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Playlist bearbeiten{% endblock %}

{% block body %}

    <div class="row">
        <h1>Playlist bearbeiten</h1>
        <p>Hier können Sie die Playlist bearbeiten.</p>
        <table class="table table-responsive">
            <tr>
                <th>Name</th><td>{{ playlist.name }}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% for video in playlist.videos %}
                    <div class="list-group-item">{{ video.title }}</div>
                {% endfor %}
            </div>
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div>{{ form_errors(form) }}</div>
            {% endif %}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}