{% extends 'base.html.twig' %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>{{ playlist.name }}</h1>
        </div>
        {% if playlist.isOwner(app.user) %}
        <div class="col-xs-12 col-sm-6">
            <a class="btn btn-default pull-right" href="{{ path('editPlaylist', { 'id': playlist.id }) }}">Bearbeiten</a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% for video in playlist.videos %}
                    <a class="list-group-item" href="{{ path('videoPlayer', {'id': video.id}) }}">{{ video.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}