{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Kurs bearbeiten{% endblock %}

{% block body %}

    <div class="row">
        <h1>Kurs bearbeiten</h1>
        <p>Hier können Sie die Kurse bearbeiten.</p>
        <table class="table table-responsive">
            <tr>
                <th>Name</th><td>{{ course.label }}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% for courseLectureAssociation in course.courseLectureAssociation %}
                    <div class="list-group-item">{{ courseLectureAssociation.lecture.label }}</div>
                {% endfor %}
            </div>
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div>{{ form_errors(form) }}</div>
            {% endif %}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}