{% extends 'base.html.twig' %}

{% block title %}{{ course.label }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>{{ course.label }}</h1>
        </div>
        {% if course.isOwner(app.user) %}
            <div class="col-xs-12 col-sm-6">
                <a class="btn btn-default pull-right" href="{{ path('editCourse', { 'id': course.id }) }}">Bearbeiten</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% for courseLectureAssociation in course.courseLectureAssociation %}
                    <a class="list-group-item" href="{{ path('showLecture', {'id': courseLectureAssociation.lecture.id}) }}">{{ courseLectureAssociation.lecture.label }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}