{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}

    <h2></h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="televideoplayer">
                <div class="videoPlayer">
                    <div class="videoPlayerInner">
                        <div class="main clearfix">
                            <div class="videoContainer speaker">
                                <video class="speaker" autoplay>
                                    <source src="{{ primaryVideo.body.files.hd.link_secure }}">
                                </video>
                                <div class="aspectRatio speaker">4:3</div>
                            </div>
                            <div class="videoContainer slides">
                                <video class="slides" autoplay>
                                    <source src="{{ secondaryVideo.body.files.hd.link_secure }}">
                                </video>
                                <div class="aspectRatio slides">4:3</div>
                                <div id="link_overlay_container"></div>
                            </div>
                            <div class="resizer"></div>
                            <div class="chapterContent">
                                <div class="chapters">
                                </div>
                            </div>
                        </div>
                        <div class="controlsBox">
                            <div class="controls">
                                <a class="play button pause"></a>
                                <div class="controlsRight">
                                    <div class="timer">0:00</div>
                                    <a class="playbackRate button">1.0x</a>
                                    <div class="annotations_menu menu">
                                        <ul>
                                            <li class="toggle_wiki_links menu_item button">
                                                Related articles
                                            </li>
                                            <li class="toggle_web_links button menu_item">
                                                Links
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="annotations button" style="visibility:hidden">
                                    </div>
                                    <a class="chapter button"></a>
                                    <div class="volume-box clearfix">
                                        <a class="mute button"></a>
                                        <div class="sliding volume">
                                            <div class="slider"></div>
                                        </div>
                                    </div>
                                    <a class="fullscreen button"></a>
                                </div>
                                <div class="seekers">
                                    <ol class="slideContainer">
                                    </ol>
                                    <div class="sliding seek">
                                        <div class="buffer"></div>
                                        <div class="slider"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <strong>{{ video.title }}</strong>
                        <p>
                            {{ video.description }}
                        </p>
                        <p>
                            <small>
                                erstellt am {{ video.createdAt|date('d.m.Y') }}
                                von {{ video.owner.firstName }} {{ video.owner.lastName }}
                            </small>
                        </p>
                        <a class="btn btn-default btn-xs" href="{{ path('videoEdit', {'id': video.id }) }}">
                            Bearbeiten
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {% for comment in video.comment if comment.approved and not comment.deleted %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ comment.creator.firstName }} {{ comment.creator.lastName }}</strong>
                                am {{ comment.createdAt|date('d.m.Y H:i') }}
                        </div>
                        <div class="panel-body">
                            {{ comment.text }}
                        </div>
                    </div>
                    {% endfor %}
                    {{ form_start(commentForm) }}
                    {% if not commentForm.vars.valid %}
                        <div>{{ form_errors(commentForm) }}</div>
                    {% endif %}
                    {{ form_widget(commentForm) }}
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Playlisten mit diesem Video
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% for lectureAssociation in video.lectureVideoAssociation if lectureAssociation.lecture.isOwner(app.user) or lectureAssociation.lecture.private == 0 %}
                        <a class="list-group-item"
                           href="{{ path('showLecture', {'id': lectureAssociation.lecture.id}) }}">{{ lectureAssociation.lecture.label }}</a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">var MEDIA_URL = "{{ app.request.getSchemeAndHttpHost() }}";</script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}/assets/vendor/requirejs/require.js"></script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}/assets/js/televideoplayer.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $form = $('form[name="comment"]');
            $form.submit(function(e){
                e.preventDefault();

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serializeArray(),
                    success: function(data){
                        callback(data);
                    }
                });

                return false;
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ app.request.getSchemeAndHttpHost() }}/assets/css/player.css">
{% endblock %}