{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Vorlesung bearbeiten{% endblock %}

{% block body %}

    <div class="row">
        <h1>Vorlesung bearbeiten</h1>
        <p>Hier können Sie die Vorlesung bearbeiten.</p>
        <table class="table table-responsive">
            <tr>
                <th>Name</th><td>{{ lecture.label }}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% for lectureVideoAssociation in orderedLectureVideos %}
                    <div class="list-group-item">
                        <span>
                            {{ loop.index }} - {{ lectureVideoAssociation.video.title }}
                        </span>
                        <div class="pull-right">
                            <a class="btn btn-xs btn-default{% if loop.first %} disabled{% endif %}"
                               href="{{ path('moveUpLectureVideo', {'id': lectureVideoAssociation.id}) }}">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="btn btn-xs btn-default{% if loop.last %} disabled{% endif %}"
                               href="{{ path('moveDownLectureVideo', {'id': lectureVideoAssociation.id}) }}">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div>{{ form_errors(form) }}</div>
            {% endif %}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}