{% extends 'base.html.twig' %}

{% block title %}Vorlesungen{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Vorlesungen</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            {% if is_granted('ROLE_LECTURER') %}
                <a class="btn btn-default pull-right" href="{{ path('newLecture') }}">
                    <i class="fa fa-list"></i> Vorlesung anlegen
                </a>
            {% endif %}
        </div>
    </div>
    <h3>Meine Vorlesungen</h3>
    <div class="row">
        {% for lecture in myLectures %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('showLecture', { id: lecture.id }) }}">{{ lecture.label }}</a>
                    </div>
                    <div class="panel-body">
                        Videos in der Playlist: {{ lecture.lectureVideoAssociation|length }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">Keine Einträge.</div>
        {% endfor %}
    </div>
    <h3>Andere Vorlesungen</h3>
    <div class="row">
        {% for lecture in otherLectures %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('videoPlayer', { id: lecture.id }) }}">{{ lecture.label }}</a>
                    </div>
                    <div class="panel-body">
                        {{ lecture.lectureVideoAssociation.description }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">Keine Einträge.</div>
        {% endfor %}
    </div>
{% endblock %}